<%- include('../includes/admin/adminHead.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin/heading.css">
    <link rel="stylesheet" href="/css/admin/navBar.css ">

    </head>

    <body>
        <%- include('../includes/admin/sidebar.ejs') %>
            <main style="margin-top: 78px;">

                <section class="">
                    <div class="container py-4 h-100">
                        <div class="row pt-5 d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card cardbody-color">
                                    <span class="heading mt-5">ADD OFFER</span>

                                    <div class="card-body p-5 ">

                                        <form action="/admin/addOffer" method="post">
                                            <div class="form-outline mb-4">
                                                <input type="text" id="typeEmailX-2"
                                                    class="form-control  form-control-lg rounded-0"
                                                    placeholder="Enter name" name="name" required />
                                                <small class="text-danger">
                                                    <%=offerExists %>
                                                </small>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="number" id="discount"
                                                    class="form-control form-control-lg rounded-0"
                                                    placeholder="Discount percentage" name="discount" min="1" max="99"
                                                    required />
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="date" id="expiryDate"
                                                    class="form-control form-control-lg rounded-0" placeholder=""
                                                    name="expiryDate" required />
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-md rounded-0 login-btn btn-dark"
                                                    type="submit">ADD</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

    </body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/javascript/admin/coupon.js"></script>
    <%- include('../includes/admin/adminFooter.ejs') %>