<section id="footer-section" class="pb-4 mt-5">
    <div class="container">
      <div class="row pt-5" id="footer-content">
        <div class="col-sm-3 ">
          <img src="/footer-logo.png" class="img-fluid" style="height: 5vh;" alt="">
        </div>
        <div class="col-sm-3 mt-5 mt-sm-0">
          <div>
            <H6>HELP</H6>
            <ul class="mt-4">
              <li class="mb-2"><small>Payments</small></li>
              <li class="mb-2"><small>Shipping</small></li>
              <li class="mb-2"><small>Help Center</small></li>
              <li class="mb-2"><small>FAQ</small></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3  mt-4 mt-sm-0">
          <div>
            <H6>SUPPORT</H6>
            <ul class="mt-4">
              <li class="mb-2"><small>Privacy Policy</small></li>
              <li class="mb-2"><small>Terms and Conditions</small></li>
              <li class="mb-2"><small>Cookie Settings</small></li>
              <li class="mb-2"><small>Track Order</small></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3  mt-4 mt-sm-0">
          <div>
            <H6>ABOUT</H6>
            <ul class="mt-4">
              <li class="mb-2"><small>About Us</small></li>
              <li class="mb-2"><small>Careers</small></li>
          </div>

          </ul>
        </div>
      </div>

      <div class="footer-bottom-section mt-3">
        <div id="footer-icons" class="">
          <ul>
            <li>
              <h6><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></h6>
            </li>
            <li>
              <h6><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></h6>
            </li>
            <li>
              <h6><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></h6>
            </li>
            <li>
              <h6><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></h6>
            </li>
          </ul>
        </div>
        <div class="text-center" style="margin-top: -20px"><span id="copyright">© 2023 VOX. All rights reserved. vox.in, LLC, 151 West 34th Street, New York, NY 10001.</span></div>
      </div>
    </div>
  </section>