<%- include('../includes/user/userHead.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div class="main-top-section">
        <%- include('../includes/user/header.ejs') %>
            <section>
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                        <div class="card my-5">
                            <div class="text-center cardbody-color">
                                <h2 class="text-center text-dark mt-3">Contact Us</h2>
                            </div>
                          <form class="card-body cardbody-color p-lg-5" action="/contact" method="post" id="contactForm">
                            <div class="mb-3">
                                <input type="text" id="name" class="form-control form-control-lg rounded-0" placeholder="Enter your name" name="name" required />
                                <small style="color: red;" id="name-error"></small>
                            </div>
                            <div class="mb-3">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg rounded-0" placeholder="Enter your email" name="email" required />
                            </div>
                            <div class="mb-3">
                                <input type="text" id="subject-2" class="form-control form-control-lg rounded-0" placeholder="Enter your Subject" name="subject" required />
                            </div>
                            <div class="mb-3">
                            <textarea type="message" id="message" class="form-control form-control-lg rounded-0" placeholder="Enter your message" name="message" required></textarea>
                            </div>
                            <div class="text-center"><br><button type="submit" class="btn btn-color px-5 mb-5 w-100" onclick="return validateForm()">SEND</button></div>
                          </form>
                        </div>
                
                      </div>
                    </div>
                  </div>
            </section>
        </div>
            <%- include('../includes/user/footerSection.ejs') %>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.slim.js"
        integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
    <script>
        $('#contactForm').submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/contact',
                method: 'post',
                data: $('#contactForm').serialize(),
                success: (res) => {
                    if (res.status == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Your message has been sent!',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // User clicked OK, refresh the page
                                location.reload();
                            }
                        });
                    } else {
                        
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'An error occurred while processing your request.',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'OK'
                        });
                    }
                }
            })
        })
    </script>
    <script>
        const nameRegex = /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/;
        const nameError = document.getElementById("name-error")

        function validateName() {
            let name = document.getElementById("name").value

            if (name.length === 0) {
                nameError.innerHTML = "Name required!";
                return false;
            }
            if (!name.match(nameRegex)) {
                nameError.innerHTML = "No numbers allowed";
                return false;
            }
            nameError.innerHTML = "";
            return true;
        }
        function validateForm() {
            if (!validateName()) {
                return false;
            }
        }
    </script>
    <%- include('../includes/user/userFooter.ejs') %>