<section class="website-header">
    <!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <form action="/admin/logout" method="post">
                <button type="submit" style=" background: none;
                border: none;
                padding: 0;
                color: rgb(0, 0, 0);
                ">LOG OUT</button>
            </form>
        </div>
    </div>
    <div class="offcanvas__nav__option">

        <a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M25 25L20.5067 18.4546H5.50667L1 25" stroke="black" stroke-width="2" stroke-miterlimit="10" />
                <path
                    d="M13 14.0909C16.3137 14.0909 19 11.1604 19 7.54545C19 3.9305 16.3137 1 13 1C9.68629 1 7 3.9305 7 7.54545C7 11.1604 9.68629 14.0909 13 14.0909Z"
                    stroke="black" stroke-width="2" stroke-miterlimit="10" />
            </svg></a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <!-- <div class="container"> -->
        <div class="row ps-lg-5 d-flex justify-content-around">
            <!-- <div class="col-lg-4"></div> -->
            <div class="col-lg-6 col-md-6 ">
                <div class="header__top__left ">
                    <p>ADMIN</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="header__top__right">
                    <div class="header__top__links">
                        <form action="/admin/logout" method="post">
                            <button type="submit" style=" background: none;
                            border: none;
                            padding: 0;
                            color: white;
                            ">LOG OUT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <!-- main head -->
    <div class="container-lg container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 search-fold-div">
                <div class="p-3">
                    
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/admin">Dashboard</a></li>
                        <li><a href="/admin/users">Customers</a></li>
                        <li><a href="/admin/banner">Banners</a></li>
                        <li><a href="/admin/coupon">Coupons</a></li>
                        <li><a href="/admin/products">Products</a></li>
                        <li><a href="/admin/category">Category</a></li>
                        <li><a href="/admin/orders">Orders</a></li>
                        <li><a href="/admin/offers">Offers</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-1 col-md-1">
                <div class="header__nav__option">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                            fill="none">
                            <path d="M25 25L20.5067 18.4546H5.50667L1 25" stroke="black" stroke-width="2"
                                stroke-miterlimit="10" />
                            <path
                                d="M13 14.0909C16.3137 14.0909 19 11.1604 19 7.54545C19 3.9305 16.3137 1 13 1C9.68629 1 7 3.9305 7 7.54545C7 11.1604 9.68629 14.0909 13 14.0909Z"
                                stroke="black" stroke-width="2" stroke-miterlimit="10" />
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="bi bi-list" style="font-weight: bold;"></i></div>
    </div>
</header>
<hr class="header-line">
</section>