.card {
    z-index: 0;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}



/* Icon progressbar */

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #000000;
    padding-left: 0;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    /* font-size: 9px; */
    width: 25%;
    float: left;
    position: relative;
    /* font-weight: 400; */
}

#progressbar .step0::before {
    font-family: FontAwesome;
    content: '\f10c';
    color: #fff;
}

#progressbar li::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    padding: 0;
}

/* Progressbar connector */
#progressbar li::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #c5cae9;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: -1;
}

#progressbar li:last-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2)::after,
#progressbar li:nth-child(3)::after {
    left: -50%;
}

#progressbar li:first-child::after {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 50%;
}

/* Color number of the step and the connect tor before it */

#progressbar li.active::before,
#progressbar li.active::after {
    background-color: #000000;
}

#progressbar li.active::before {
    font-family: FontAwesome;
    content: '\f00c';
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}