.category-section a {
    text-align: center;
    /* font-family: Nunito Sans; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    width: 106px;
    height: 31px;
    flex-shrink: 0;

}

.list-btn {
    background-color: #000000;
    color: grey;
}

.unList-btn {
    background-color: #999999;
    color: white;
}


.heading {
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    text-transform: uppercase;
}

.category {
    color: #111;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}

.add-Category-background {
    background-color: #EBEFF1;
    overflow: hidden;
}

.add-input {
    height: 45.576px;
}

.add-btn {
    width: 90%;
    height: 45.576px;
    /* flex-shrink: 0; */
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #000000;
}